@model ScrumMainApp.Models.BacklogItem

@{
    ViewBag.Title = "Details";
    ViewBag.header = "Details";
}


<fieldset>
    <legend>BacklogItem</legend>

    <div class="display-label">backlogId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.backlogId)
    </div>

    <div class="display-label">Project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.projectName)
    </div>

    <div class="display-label">Sprint</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sprint.sprintNumber)
    </div>

    <div class="display-label">story</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.story)
    </div>

    <div class="display-label">estimatedSize</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estimatedSize)
    </div>

    <div class="display-label">Status1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status1.status1)
    </div>

    <div class="display-label">priority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.priority)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
  
</p>
